body{
    background-color: black;
    font-family:'Open Sans', sans-serif;
    color: white;
}
#navigationbar{
    margin-left: 45%;
}
.title-presentation, .title-form, .title-contact{
    padding: 1em;
}
.row{
    color: white;
    padding: 1em;
    margin: 1em;
}
.col-md{
    margin: 1em;
}
.icon{
    text-align: center;
    background-color: #289ba8;
    display: block;
    margin-bottom: 0.5em;
}
hr{
    border-top: 0.25em solid #289ba8;
    padding: 1em;
}
.card{
    background-color:#289ba8;
}
.card-body{
    color: white;
}
.form{
    margin-bottom: 3em;
}
footer {
    text-align: right;
    background-color: #289ba8;
    color: white;
    padding: 2em;
}
h3 {
    text-align: left;
    display: inline-block;
    padding-left: 0em;
    margin-left: 0em;
    margin-right: 15em;
}
.footer-icons{
    text-align: right;
    display: inline-block;
}
footer, i{
    padding: 0.15em;
}